<script src="/static/sweetalert2/sweetalert2.js"></script>
<script src="/static/bootstrap-table/src/bootstrap-table.js"></script>
<script src="/static/bootstrap-table/src/locale/bootstrap-table-zh-CN.js"></script>
<script src="/static/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
<script src="/static/bootstrap-fileinput/js/fileinput_locale_zh.js" type="text/javascript"></script>
<script src="/static/js/biux2/resource.repo.js"></script>
<script src="/static/js/biux2/resource.upload.js"></script>